{% extends 'layout.html'%}
{% block content %}
<div class="col-12 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="fpl_data" width="auto" height="100"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-10">
        <table class="table w-auto small">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Team</th>
                    <th scope="col">Total pt</th>
                    <th scope="col">Bonus pt</th>
                    <th scope="col">Avg 4wk pt</th>
                    <th scope="col">Gw-1</th>
                    <th scope="col">Gw-2</th>
                    <th scope="col">Gw-3</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in fpl_data_main_table %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{ entry.ply_name }}</td>
                            <td>{{ entry.position }}</td>
                            <td>{{ entry.team_name }}</td>
                            <td>{{ entry.total_points }}</td>
                            <td>{{ entry.bonus_points }}</td>
                            <td>{{ entry.avg_4_weeks }}</td>
                            <td>{{ entry.gwminus1 }}</td>
                            <td>{{ entry.gwminus2 }}</td>
                            <td>{{ entry.gwminus3 }}</td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>

{% block javascript %}
<script>
    const ctx = document.getElementById('fpl_data').getContext('2d');

    let fpl_data = {{ fpl_data | safe }}
    let fpl_data_name = {{ fpl_data_name | safe }}

    let fpl_top_ply_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: fpl_data_name,
            datasets: [{
                label: 'Sentiment Score',
                data: fpl_data,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderWidth: 1
            }]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    plugins: [ChartDataLabels],
        options: {

        }
    });



    </script>

{% endblock %}

{% endblock %}