{% extends 'layout.html'%}
{% block content %}
<div class="col-12 col-md-6">
    <div class="card card-style mb-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="fpl_data" width="auto" height="100"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-12 col-md-10">
        <table class="table w-auto small">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Text</th>
                    <th scope="col">Created at date</th>
                    <th scope="col">Retweets</th>
                    <th scope="col">Replies</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Sentiment label</th>
                    <th scope="col">Sentiment score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in main_table %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{ entry.username }}</td>
                            <td>{{ entry.cleaned_tweet_text }}</td>
                            <td>{{ entry.created_at_date }}</td>
                            <td>{{ entry.retweets }}</td>
                            <td>{{ entry.replies }}</td>
                            <td>{{ entry.likes }}</td>
                            <td>{{ entry.berta_sent_analysis_label }}</td>
                            <td>{{ entry.berta_sent_analysis_score }}</td>
                        </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>

{% block javascript %}
<script>
    const ctx = document.getElementById('fpl_data').getContext('2d');

    let tweet_data = {{ tweet_data | safe }}
    let tweet_data_name = {{ tweet_data_name | safe }}
    let tweet_count = {{ tweet_count_graph | safe }}

    let fpl_top_ply_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: tweet_data_name,
            datasets: [{
                label: 'Avg Sentiment Score',
                data: tweet_data,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderWidth: 1
            },
           {
                label: 'No. of Tweets',
                data: tweet_count,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderWidth: 1
            }

            ]
        },
        options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    },
    plugins: [ChartDataLabels],
        options: {

        }
    });



    </script>

{% endblock %}

{% endblock %}